/* 改变主题色变量 */
$--color-primary: #0091FF;
$--color-font-sp:#0091FF;
$--color-white: #FFFFFF;
$--color-black: #000000;
$--color-success: #87D068 !default;
$--color-warning: #FFAA00 !default;
$--color-danger: #FA5B5B !default;
$--color-info: #999999 !default;
$--table-row-hover-background-color:#FFF0F0 !default;
$--border-color-base: #E4E4E4 !default;
$--border-color-light: #E4E4E4 !default;
$--border-color-lighter: #E4E4E4 !default;

$--font-size-base: 14px !default;

$--input-height: 40px !default;

$--card-padding: 0 20px !default;

$--box-shadow-base: 0 4px 8px 4px rgba(0,0,0,0.12)!default;

$--select-option-hover-background: #F3FBFA !default;

$--pagination-hover-fill: $--color-font-sp !default;

$--button-primary-border-color:$--color-primary !default;
$--button-primary-fill: $--color-primary !default;

$--link-color: $--color-font-sp !default;
$--link-hover-color: $--color-font-sp !default;

/* 自定义着重按钮point */
$--button-point-border: $--color-primary !default;
$--button-point-color: $--color-white !default;
$--button-point-fill: $--color-primary !default;


$--color-text-primary: #303133 !default;
$--color-text-regular: #606266 !default;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

